<form id="project-form">
  <div>
    <label>Name</label>
    <input id="project-name" type="text" />
  </div>
  <div>
    <label>Description</label>
    <input id="project-description" type="text" />
  </div>
  <div>
    <label>Needed Funding</label>
    <input id="project-funding" type="number" />
  </div>

  <button type="submit">Submit</button>
</form>

<script src="/js/createProject.js"></script>