<form id="login-form">
  <div>
    <label>Email</label>
    <input id="login-email" type="email" />
  </div>
  <div>
  <label>Password</label>
  <input id="login-password" type="password" />
  </div>

  <button type="submit">Submit</button>
</form>

<script src="/js/login.js"></script>