<h2>Here is a list of all available projects.</h2>
{{#each projects as |project|}}
  <div class="project-container">
    <p>{{project.id}}</p>
    <p>{{project.name}}</p>
    <p>{{project.description}}</p>
  </div>
{{/each}}